USE [Binance]
GO
/****** Object:  StoredProcedure [dbo].[SellCrypto]    Script Date: 11/28/2021 3:42:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SellCrypto]
	-- Add the parameters for the stored procedure here
	@SYMBOLS VARCHAR(500)
AS
BEGIN

	DECLARE @URL NVARCHAR(MAX) = 'HTTP://LOCALHOST:5001/API/V1/BINANCE/SELL';
	DECLARE @OBJECT AS INT;
	DECLARE @RESPONSETEXT AS VARCHAR(8000);
	DECLARE @CODE AS INT;

	DECLARE @SYMBOL VARCHAR(100);
	DECLARE @TEMPLATE AS VARCHAR(1000) = 
	'{
		"symbol": "@SYMBOL",
		"amount": @AMOUNT
	},';
	DECLARE @TEMPTEMPLATE VARCHAR(1000);
	DECLARE @REQ AS VARCHAR(2000) = '';

	DECLARE @SYMBOL_RESPONSE AS VARCHAR(2000);
	DECLARE @SYMBOL_ERROR AS VARCHAR(200);
	DECLARE @RESPONSE_SYMBOL AS VARCHAR(100);
	DECLARE @RESPONSE_AMOUNT AS DECIMAL(20,8);

	IF @SYMBOLS IS NULL
		BEGIN
			RETURN;
		END

	DECLARE SYMBOLS_CURSOR CURSOR FOR 
	SELECT VALUE FROM STRING_SPLIT(@SYMBOLS, ','); 

	OPEN SYMBOLS_CURSOR
	FETCH NEXT FROM SYMBOLS_CURSOR INTO @SYMBOL

		WHILE @@FETCH_STATUS = 0  
		BEGIN

			SET @TEMPTEMPLATE = REPLACE(@TEMPLATE, '@SYMBOL', SUBSTRING(@SYMBOL,1, CHARINDEX('|', @SYMBOL) - 1));
			SET @TEMPTEMPLATE = REPLACE(@TEMPTEMPLATE, '@AMOUNT', SUBSTRING(@SYMBOL, CHARINDEX('|', @SYMBOL) + 1, LEN(@SYMBOL)));
			SET @REQ += @TEMPTEMPLATE;
	
		FETCH NEXT FROM SYMBOLS_CURSOR INTO @SYMBOL
		END 
	
	CLOSE SYMBOLS_CURSOR;  
	DEALLOCATE SYMBOLS_CURSOR;

	SET @REQ = SUBSTRING(@REQ, 1, LEN(@REQ)-1)
	SET @REQ = '[' + @REQ + ']';

	SELECT @REQ;

	EXEC SP_OACREATE 'MSXML2.XMLHTTP', @OBJECT OUT;
	EXEC SP_OAMETHOD @OBJECT, 'OPEN', NULL, 'POST',
       @URL,
       'FALSE'
	EXEC sp_OAMethod @Object, 'setRequestHeader', null, 'Content-Type', 'application/json'
	EXEC sp_OAMethod @Object, 'send', null, @REQ
	EXEC @CODE = SP_OAMETHOD @OBJECT, 'SEND'
	EXEC SP_OAMETHOD @OBJECT, 'RESPONSETEXT', @RESPONSETEXT OUTPUT
	EXEC SP_OAGETPROPERTY @OBJECT, 'STATUS', @CODE OUT
	EXEC SP_OADESTROY @OBJECT
	
	SELECT @RESPONSETEXT ;

END
